In [17]:
import pandas as pd

In [18]:
pwd

'G:\\Python-for-ML\\Presentation\\Pandas'

In [19]:
ls

 Volume in drive G has no label.
 Volume Serial Number is 3414-66F8

 Directory of G:\Python-for-ML\Presentation\Pandas

11/27/2023  12:52 AM    <DIR>          .
11/26/2023  09:41 PM    <DIR>          ..
11/26/2023  10:12 PM           577,852 00-Series.ipynb
11/26/2023  10:49 PM           119,274 01-DataFrames.ipynb
11/26/2023  10:48 PM            76,100 02-Conditional-Filtering.ipynb
11/26/2023  10:51 PM           123,973 03-Useful-Methods.ipynb
11/26/2023  11:37 PM            57,582 04-Missing-Data.ipynb
11/26/2023  11:48 PM           167,184 05-Groupby-Operations-and-MultiIndex.ipynb
11/27/2023  12:27 AM            56,026 06-Combining-DataFrames.ipynb
11/27/2023  12:42 AM            36,711 07-Text-Methods.ipynb
11/27/2023  12:44 AM           115,560 08-Time-Methods.ipynb
11/25/2023  11:25 PM            10,365 09-Inputs-and-Outputs.ipynb
11/24/2023  11:33 PM                51 example.csv
11/24/2023  11:33 PM               177 movie_scores.csv
11/24/2023  11:33 PM            18,125 mpg.csv
11/27/2023  12:52 AM                51 new_file.csv
11/24/2023  11:33 PM             5,800 RetailSales_BeerWineLiquor.csv
11/24/2023  11:33 PM            18,752 tips.csv
              16 File(s)      1,383,583 bytes
               2 Dir(s)  226,618,372,096 bytes free

In [20]:
import os

In [21]:
os.getcwd()

'G:\\Python-for-ML\\Presentation\\Pandas'

In [22]:
# df = pd.read_csv('example.csv', header=None)

df = pd.read_csv('example.csv')

In [23]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [24]:
df = pd.read_csv('example.csv', index_col=0)

In [25]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [26]:
df.to_csv('newfile.csv', index=False)

In [27]:
new = pd.read_csv('newfile.csv')

In [28]:
new

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15