In [3]:
import pandas as pd

In [5]:
pwd

'G:\\Python-for-ML\\03-Pandas'

In [7]:
ls

 Volume in drive G has no label.
 Volume Serial Number is 3414-66F8

 Directory of G:\Python-for-ML\03-Pandas

11/25/2023  11:20 PM    <DIR>          .
11/25/2023  09:58 AM    <DIR>          ..
11/25/2023  09:58 AM            12,630 00-Seriess.ipynb
11/25/2023  12:14 PM            87,001 01-DataFrame.ipynb
11/25/2023  02:31 PM            22,046 02-Conditional-Filtering.ipynb
11/25/2023  05:57 PM            91,060 03-Useful-Methods.ipynb
11/25/2023  06:35 PM            66,412 04-Missing-Data.ipynb
11/25/2023  08:37 PM           149,210 05-Groupby-Operations-and-MultiIndex.ipynb
11/25/2023  10:36 PM            42,772 06-Combining-DataFrames.ipynb
11/25/2023  10:52 PM            12,964 07-Text-Methods.ipynb
11/25/2023  11:16 PM            29,227 08-Time-Methods.ipynb
11/25/2023  11:20 PM             1,800 09-Inputs-and-Outputs.ipynb
11/24/2023  11:33 PM               177 movie_scores.csv
11/24/2023  11:33 PM            18,125 mpg.csv
11/24/2023  11:33 PM             5,800 RetailSales_BeerWineLiquor.csv
11/24/2023  11:33 PM            18,752 tips.csv
              14 File(s)        557,976 bytes
               2 Dir(s)  226,645,516,288 bytes free

In [8]:
import os

In [9]:
os.getcwd()

'G:\\Python-for-ML\\03-Pandas'

In [24]:
# df = pd.read_csv('example.csv', header=None)

df = pd.read_csv('example.csv')

In [25]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [22]:
df = pd.read_csv('example.csv', index_col=0)

In [23]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [28]:
df.to_csv('newfile.csv', index=False)

In [29]:
new = pd.read_csv('newfile.csv')

In [30]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15